  <body>
    <!-- 引入头部和导航栏 -->
    <%- include('../partials/nav.ejs') %>

    <!-- 显示当前类别标题 -->
    <div class="btns">
      <h2 class="category-title text-center my-5"><%= category %> Products</h2>

      <!-- 提供返回首页的链接 -->
      <a href="/" class="btn btn-primary mb-3 d-block mx-auto">Back</a>
      <!-- 添加新产品的按钮 -->
      <a href="/new" class="btn btn-primary mb-4 d-block mx-auto"> Add Product</a>
    </div>

    <!-- 为每个商品创建一个卡片 -->
    <div class="row justify-content-center mt-4">
      <% for(let product of products) { %>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <!-- 商品名称 -->
              <h5 class="card-title mb-0"><%= product.name %></h5>

              <!-- 编辑、查看和删除的链接 -->
              <div class="d-flex flex-wrap justify-content-between align-items-center mt-2">
                <a href="/edit/<%= product.id %>" class="btn btn-sm btn-primary mr-2">Edit</a>
                <a href="/products/<%= product.id %>" class="btn btn-sm btn-secondary">View</a>
                <a href="/delete/<%= product.id %>" class="btn btn-sm btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </body>
</html>