<body>
    <%- include('../partials/nav.ejs') %>
<div class="container centered">
<h1>Product:</h1>
<a href="/products">Back</a> <br>
<%= product.id %> <br>
<%= product.name %> <br>
Category: <a href="/products?category=<%= product.category %>"><%= product.category %></a>
</div>
</body>
</html>